/* =========================================================
GLOBAL
========================================================= */

*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
overflow-x:hidden;
font-family:"Poppins",sans-serif;
background:#fff;
}

/* =========================================================
HERO SECTION
========================================================= */

.contact-hero{
width:100%;
height:52vh;

background:#3E533D;

position:relative;

display:flex;
justify-content:center;
align-items:center;

overflow:hidden;
}

/* BACKGROUND TEXT */

.contact-bg-text{
position:absolute;

font-size:150px;
font-weight:700;

color:transparent;

-webkit-text-stroke:
1px rgba(255,255,255,0.06);

white-space:nowrap;
}

/* CENTER CONTENT */

.contact-content{
position:relative;
z-index:2;
text-align:left;
}

.contact-content h2{
color:#fff;

font-size:48px;
font-weight:700;

letter-spacing:1px;

text-align:left;
}

/* =========================================================
CONTACT INTRO SECTION
========================================================= */

.contact-intro-section{
width:100%;

padding:120px 0 70px;

background:#fff;

overflow:hidden;

position:relative;
}

/* CONTAINER */

.contact-intro-container{
width:75%;
margin:auto;
}

/* TOP */

.contact-intro-top{
display:flex;
justify-content:space-between;
align-items:flex-start;

gap:100px;

position:relative;
}

/* TOP BORDER */

.contact-intro-top::before{
content:"";

position:absolute;

top:-42px;
left:0;

width:100%;
height:2px;

background:#2b2525;
}

/* LEFT */

.contact-intro-left{
flex:1;

display:flex;
align-items:flex-start;

gap:28px;

position:relative;

text-align:left;
}

/* HUGE BG TEXT */

.contact-intro-left::before{
content:"CONTACT";

position:absolute;

left:-255px;
top:-70px;

font-size:180px;
font-weight:700;

letter-spacing:2px;

color:transparent;

-webkit-text-stroke:
1px rgba(0,0,0,0.035);

white-space:nowrap;

z-index:0;
}

/* SHAPE */

.contact-green-shape{
width:42px;
height:42px;

min-width:42px;

background:#7ed321;

clip-path:polygon(
25% 6%,
75% 6%,
100% 50%,
75% 94%,
25% 94%,
0 50%
);

position:relative;

z-index:2;

margin-top:8px;
}

/* SMALL LINE */

.contact-small-line{
width:3px;
height:22px;

background:#2c2626;

position:absolute;

left:18px;
top:72px;

z-index:2;
}

/* HEADING */

.contact-intro-left h2{
font-size:24px;
line-height:1.08;

font-weight:700;

color:#2a2323;

letter-spacing:-1px;

position:relative;

z-index:2;

max-width:520px;

text-align:left;
}

/* RIGHT */

.contact-intro-right{
flex:1;

padding-top:20px;

text-align:left;
}

.contact-intro-right p{
font-size:16px;
line-height:1.8;

color:#111;

max-width:560px;

font-weight:400;

text-align:left;
}

/* =========================================================
FORM SECTION
========================================================= */

.contact-form-section{
width:100%;

padding:20px 0 90px;

background:#fff;
}

/* MAIN CONTAINER */

.contact-form-container{
width:74%;
margin:auto;

display:grid;
grid-template-columns:30% 70%;

gap:28px;
}

/* LEFT */

.contact-left-box{
display:flex;
flex-direction:column;

margin-top:100px;

gap:20px;
}

/* CARD */

.contact-info-card{
background:#343234;

padding:36px 30px;

display:flex;

align-items:flex-start;

gap:18px;

min-height:160px;

transition:0.4s ease;

text-align:left;
}

.contact-info-card:hover{
transform:translateY(-5px);
}

/* ICON */

.contact-icon{
font-size:38px;

color:#85db36;

line-height:1;
}

/* CONTENT */

.contact-info-content{
display:flex;
flex-direction:column;
align-items:flex-start;
justify-content:flex-start;
text-align:left;
}

/* CARD TITLE */

.contact-info-card h3{
color:#fff;

font-size:13px;
font-weight:700;

letter-spacing:1.5px;

margin-bottom:12px;

text-align:left;
}

/* CARD TEXT */

.contact-info-card p{
color:#fff;

font-size:13px;

line-height:1.7;

text-align:left;
}

/* =========================================================
RIGHT FORM
========================================================= */

.contact-right-box{
background:#567650;

padding:42px 48px;

border:14px solid #20351d;

text-align:left;
}

/* TOP TEXT */

.form-top-text{
color:#fff;

font-size:15px;
line-height:1.8;

margin-bottom:38px;

text-align:left;
}

/* GRID */

.contact-grid{
display:grid;
grid-template-columns:1fr 1fr;

gap:28px;
}

/* GROUP */

.input-group{
display:flex;
flex-direction:column;

align-items:flex-start;

text-align:left;
}

/* LABEL */

.input-group label,
.message-group label{
font-size:15px;
font-weight:500;

color:#fff;

margin-bottom:10px;

text-align:left;
}

/* INPUT */

.input-group input,
.input-group select{
width:100%;
height:52px;

border:none;
outline:none;

background:#fff;

padding:0 18px;

font-size:14px;

color:#444;

text-align:left;
}

/* SELECT */

.input-group select{
background:#0f0d11;

color:#8b8f99;

cursor:pointer;
}

/* MESSAGE */

.message-group{
margin-top:28px;

display:flex;
flex-direction:column;

align-items:flex-start;

text-align:left;
}

/* TEXTAREA */

.message-group textarea{
width:100%;
height:150px;

border:none;
outline:none;

resize:none;

background:#fff;

padding:18px;

font-size:14px;

color:#444;

text-align:left;
}

/* BUTTON */

.send-btn{
margin-top:32px;

border:none;
outline:none;

background:#84db35;

color:#000;

padding:16px 34px;

font-size:13px;
font-weight:700;

letter-spacing:3px;

display:flex;
align-items:center;
justify-content:center;

gap:10px;

cursor:pointer;

transition:0.4s ease;
}

.send-btn:hover{
transform:translateY(-4px);

background:#97f53f;
}

/* =========================================================
CONTACT BRANDS SECTION
========================================================= */

.contact-brands-section{
width:100%;
margin-top:140px;
padding:90px 0 90px;
position:relative;
overflow:hidden;

background:
linear-gradient(
rgba(0,0,0,0.84),
rgba(0,0,0,0.84)
),
url("https://images.unsplash.com/photo-1557682250-33bd709cbe85?q=80&w=1974&auto=format&fit=crop");

background-size:cover;
background-position:center;
background-repeat:no-repeat;
}

/* GOLDEN TOP */

.contact-brands-section::before{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:5px;
background:#f0c400;
z-index:4;
}

/* TEXTURE */

.contact-brands-section::after{
content:"";
position:absolute;
inset:0;

background:
radial-gradient(
rgba(255,255,255,0.03) 1px,
transparent 1px
);

background-size:18px 18px;

opacity:0.10;

pointer-events:none;
}

/* CONTAINER */

.contact-brands-container{
width:76%;
margin:auto;
position:relative;
z-index:5;
}

/* LINE */

.contact-brands-line{
width:100%;
height:1px;

background:
rgba(255,255,255,0.16);

margin-bottom:40px;
}

/* CONTENT */

.contact-brands-content{
display:flex;
justify-content:flex-start;
align-items:flex-start;
gap:90px;
}

/* LEFT */

.contact-brands-left{
display:flex;
align-items:flex-start;
justify-content:flex-start;

gap:18px;

min-width:250px;

text-align:left;
}

/* SHAPE */

.contact-green-shape{
width:28px;
height:28px;

background:#8ad63a;

clip-path:polygon(
25% 6%,
75% 6%,
100% 50%,
75% 94%,
25% 94%,
0 50%
);

position:relative;

margin-top:8px;

flex-shrink:0;
}

/* SMALL LINE */

.contact-green-shape::after{
content:"";

position:absolute;

left:50%;
top:44px;

transform:translateX(-50%);

width:2px;
height:18px;

background:
rgba(255,255,255,0.30);
}

/* HEADING */

.contact-brands-left h2{
font-size:28px;
line-height:1.02;
font-weight:700;

letter-spacing:-1px;

text-transform:uppercase;

color:#ffffff;

max-width:180px;

text-align:left;
margin:0;
}

/* GRID */

.contact-brands-grid{
flex:1;

display:grid;

grid-template-columns:
repeat(4,1fr);

/* REDUCED SPACING */

column-gap:33px;
row-gap:24px;

padding-top:3px;

justify-items:start;
align-items:start;
}

/* LOGO */

.brand-item{
display:flex;
justify-content:flex-start;
align-items:flex-start;

opacity:0.46;

transition:0.45s ease;

cursor:pointer;
}

/* IMAGE */

.brand-item img{
width:42px;
height:42px;

object-fit:contain;

filter:
brightness(0)
invert(1);

transition:0.45s ease;
}

/* HOVER */

.brand-item:hover{
opacity:1;

transform:
translateY(-6px)
scale(1.03);
}

.brand-item:hover img{
filter:
brightness(0)
invert(75%)
sepia(95%)
saturate(900%)
hue-rotate(10deg)
brightness(105%);
}

/* =========================================================
RESPONSIVE
========================================================= */

@media(max-width:1200px){

.contact-intro-left h2{
font-size:38px;
}

.contact-intro-right p{
font-size:17px;
}

.contact-right-box{
padding:35px;
}

.contact-brands-container{
width:88%;
}

}

/* TABLET */

@media(max-width:992px){

.contact-intro-container,
.contact-form-container{
width:90%;
}

.contact-intro-top{
flex-direction:column;
gap:60px;
}

.contact-form-container{
grid-template-columns:1fr;
}

.contact-brands-content{
flex-direction:column;
gap:55px;
}

.contact-brands-left{
min-width:100%;
}

.contact-brands-grid{
width:100%;

grid-template-columns:
repeat(2,1fr);

gap:24px;
}

}

/* MOBILE */

@media(max-width:768px){

.contact-bg-text{
font-size:70px;
}

.contact-content h2{
font-size:34px;
}

.contact-intro-left::before{
display:none;
}

.contact-intro-left{
gap:18px;
}

.contact-intro-left h2{
font-size:28px;
line-height:1.2;
}

.contact-intro-right p{
font-size:15px;
line-height:1.8;
}

.contact-green-shape{
width:34px;
height:34px;
}

.contact-small-line{
left:15px;
top:60px;
}

.contact-grid{
grid-template-columns:1fr;
}

.contact-right-box{
padding:28px 20px;
border-width:8px;
}

.contact-info-card{
padding:28px 20px;
min-height:auto;
}

.contact-brands-section{
padding:70px 20px;
margin-top:80px;
}

.contact-brands-grid{
grid-template-columns:1fr;
gap:18px;
}

.brand-item img{
width:38px;
height:38px;
}

}

/* SMALL MOBILE */

@media(max-width:480px){

.contact-intro-section{
padding:90px 0 50px;
}

.contact-intro-left h2{
font-size:24px;
}

.contact-info-card{
flex-direction:column;
gap:18px;
}

.send-btn{
width:100%;
}

}