.footer {
  width: 100%;
  background: #3E533D;
  position: relative;
  margin-top: 110px; /* thoda kam */
}

/* TOP BOX */

.footer-top-box {
  width: 77%;
  margin: auto;

  background: #231c1b;

  padding: 20px 40px; /* pehle 28px 50px */

  border-radius: 0 0 15px 15px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  transform: translateY(-60px); /* pehle -80px */
}

.footer-top-left h1 {
  font-size: 22px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 16px; /* kam */
}

.footer-top-left p {
  font-size: 13px;
  line-height: 1.5;
  color: #fff;
}

/* BUTTON */

.footer-start-btn {
  width: 140px;
  height: 52px; /* pehle 60px */

  border: none;
  outline: none;

  background: #e0c1bf;
  color: #222;

  border-radius: 3px;

  font-size: 14px;
  font-weight: 700;

  cursor: pointer;

  transition: 0.4s ease;
}

.footer-start-btn:hover {
  transform: translateY(-4px);
}

/* MAIN FOOTER */

.footer-main {
  width: 77%;
  margin: auto;

  display: grid;
  grid-template-columns: 1.3fr 1fr 1.3fr 1fr;

  gap: 50px; /* pehle 70px */

  padding-bottom: 35px; /* pehle 50px */
}

/* LOGO */

.footer-logo {
  display: flex;
  align-items: center;
  gap: 12px;

  margin-bottom: 25px; /* kam */
}

.logo-circle {
  width: 38px;
  height: 38px;

  border-radius: 50%;

  background: #e0c1bf;
}

.footer-logo h2 {
  color: #f6d7d5;
  font-size: 17px;
  font-weight: 600;
}

.footer-logo span {
  color: #f6d7d5;
  font-size: 13px;
}

.footer-logo-col p {
  color: #fff;
  font-size: 14px;
  line-height: 1.4;

  margin-bottom: 20px; /* kam */
}

/* HEADINGS */

.footer-col h3 {
  color: #fff;
  font-size: 17px;
  font-weight: 600;

  margin-bottom: 22px;

  border-bottom: 2px solid #fff;

  display: inline-block;
  padding-bottom: 5px;
}

/* LINKS */

.footer-col ul {
  list-style: none;
}

.footer-col ul li {
  color: #fff;
  font-size: 13px;

  margin-bottom: 10px; /* kam */

  cursor: pointer;

  transition: 0.3s ease;
}

.footer-col ul li:hover {
  transform: translateX(5px);
}

/* BOTTOM */

.footer-bottom {
  width: 100%;
  background: #231c1b;

  padding: 10px 11%; /* kam */

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-bottom p,
.footer-policy span {
  color: #fff;
  font-size: 14px;
}

.footer-policy {
  display: flex;
  gap: 14px;
}
.footer-logo-col {
  text-align: left;
}

.footer-logo-col p {
  color: #fff;
  font-size: 14px;
  line-height: 1.6;

  margin-bottom: 20px;

  text-align: left;

  max-width: 300px; /* important */
}
.footer-col {
  text-align: left;
}

.footer-col ul {
  padding-left: 0;
}